*{
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}

:root{
    --primary: hsl(0, 36%, 70%);
    --secondary: hsl(0, 93%, 68%);
    --neutral: hsl(0, 6%, 24%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: column;
}

.right__container{

}

.left__container{

}

.litle__title{
    font-size: 16px;
    color: var(--neutral);
    font-family: 'Josefin Sans', sans-serif;
}
.big__title{
    font-size: 80px;
    color:var(--neutral);
    font-family: 'Josefin Sans', sans-serif;
}

.big__title--primary{
    color:var(--primary);
    font-size: 80px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
}

.text__input input{
    border-radius: 10px;
    color: lightgray;
}